.footer {
    background-color: var(--secondBackground);
    color: var(--hoverColor);
    padding: 2rem 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.logo-footer img {
    height: 100px;
}

.slogan-footer h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

.social-media {
    text-align: center;
}

.social-media h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.social-media-icon {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.media-logo-footer {
    height: 40px; /* Aumentamos el tamaño */
    transition: transform 0.3s ease, filter 0.3s ease, box-shadow 0.3s ease;
    border-radius: 50%; /* Para darle un efecto más redondeado */
}

/* Efecto hover */
.media-logo-footer:hover {
    transform: scale(1.2); /* Crece un poco */
    filter: blur(2px); /* Agrega desenfoque */
}

/* Agregamos sombras de colores para cada red social */
.facebook-logo:hover {
    box-shadow: 0 0 15px rgba(24, 119, 242, 0.8); /* Azul de Facebook */
}

.instagram-logo:hover {
    box-shadow: 0 0 15px rgba(225, 48, 108, 0.8); /* Rosa de Instagram */
}

.whatsapp-logo:hover {
    box-shadow: 0 0 15px rgba(37, 211, 102, 0.8); /* Verde de WhatsApp */
}

.facebook-logo{
    background-color: rgba(24, 119, 242, 0.8);
}

.instagram-logo{
    background-color: rgba(225, 48, 108, 0.8);
}

.whatsapp-logo{
    background-color: rgba(37, 211, 102, 0.8);
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        text-align: center;
    }

    .navigation-footer {
        flex-direction: column;
    }
}
