.preHeader-main-container {
    background-color: var(--secondBackground);
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-icon {
    display: flex;
    gap: 1rem;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* Tamaño inicial del icono */
    height: 50px;
    border-radius: 50%; /* Forma circular */
    padding: 8px;
    backdrop-filter: blur(10px); /* Efecto de desenfoque */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.icon-wrapper img {
    width: 100%; /* Ajusta el tamaño de la imagen al contenedor */
    height: 100%;
    transition: transform 0.3s ease;
}

/* Estilos específicos para cada red social */
.icon-wrapper.facebook {
    background-color: rgba(59, 89, 152, 0.7); /* Azul de Facebook con transparencia */
}

.icon-wrapper.instagram {
    background-color: rgba(225, 48, 108, 0.7); /* Rosa de Instagram con transparencia */
}

.icon-wrapper.whatsapp {
    background-color: rgba(37, 211, 102, 0.7); /* Verde de WhatsApp con transparencia */
}

/* Efecto hover */
.icon-wrapper:hover {
    transform: scale(1.2); /* Aumenta el tamaño del icono */
}

.icon-wrapper.facebook:hover {
    background-color: rgba(59, 89, 152, 0.9); /* Azul más opaco al hacer hover */
}

.icon-wrapper.instagram:hover {
    background-color: rgba(225, 48, 108, 0.9); /* Rosa más opaco al hacer hover */
}

.icon-wrapper.whatsapp:hover {
    background-color: rgba(37, 211, 102, 0.9); /* Verde más opaco al hacer hover */
}

.navigation a {
    text-decoration: none;
    color: var(--hoverColor);
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: var(--shadowColor); /* Verde de WhatsApp al hacer hover */
}

/* Responsividad */
@media (max-width: 768px) {
    .preHeader-main-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .icon-wrapper {
        width: 35px; /* Tamaño más pequeño en móviles */
        height: 35px;
    }
}